__pycache__
.DS_Store
.env*.local
.git
.pnp.js
.venv
.vercel
*.pem
*.tsbuildinfo
/.next/
/.pnp
/build
/coverage
/enrich
/figures
/node_modules
/out/
data
next-env.d.ts
npm-debug.log*
yarn-debug.log*
yarn-error.log*